@import "fonts.css";

html, body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/*****************Header Section******************/

/*****************Navbar Section******************/
.header_bg{
    background-image: url("../img/sections_background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.navbar{
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, .4);
}

.center{
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand{
    text-decoration: none;
    height: 100%;
    display: flex;
}

.hexagon{
    width: 50px;
    height: 30px;
    background-color: #18cfab;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hexagon::before {
    content: "";
    position: absolute;
    top: -31px;
    height: 1px;
    border-top: 15px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 15px solid #18cfab;
    border-left: 25px solid transparent;
}

.hexagon::after{
    content: "";
    position: absolute;
    top: 30px;
    width: 1px;
    height: 1px;
    border-top: 15px solid #18cfab;
    border-right: 25px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 24px solid transparent;
}

.name_h{
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 25px;
    color: white;
    font-weight: 700
}

.brand_name{
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.color_white{
    color: white; !important;
}

.color_green{
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar_menu_div{
    width: 100%;
}

.navbar_menu{
    display: inline-flex;
    list-style: none;
    text-transform: uppercase;
    float: right;
}

.navbar_menu_list>a{
    text-decoration: none;
    color: #b8b8b8;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
}

.navbar_menu_list>i{
    color: #b8b8b8;
    cursor: pointer;
    position: relative;
    font-size: 12px;
}

.navbar_menu_list>a:hover{
    color: #18cfab;
}

.navbar_menu_list>a:hover::after{
    top: 64px;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    border: 1px solid #18cfab;
}

.navbar_menu_list>i:hover{
    color: #18cfab;
}

.navbar_menu_list>i:hover::after{
    top: 64px;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    border: 1px solid #18cfab;
}

/****************End of Navbar Section***************/

/******************Theme Section*********************/
.theme_div{
    text-align: center;
    padding: 12%;
}
.green_p{
    font-size: 35px;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.white_h2{
    font-size: 70px;
    text-transform: uppercase;
    margin-block-start: 2px;
     margin-block-end: 2px;
     margin-inline-start: 0;
     margin-inline-end: 0;
}

.white_p{
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.btn{
    width: 150px;
    height: 50px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 15%;
    margin-right: 10px;
}

.btn_green{
    background-color: #3cb878;
    border-right: 1px solid #3cb878;
    border-bottom: 1px solid #3cb878;
    border-left: 1px solid #3cb878;

}

.btn_blue{
    background-color: #00cbf6;
    border-right: 1px solid #00cbf6;
    border-bottom: 1px solid #00cbf6;
    border-left: 1px solid #00cbf6;
}

/******************End of Theme Section********************/

/*******************End of Header Section******************/

/*******************Our Services Section********************/

.our_services{
    width: 100%;
    margin-bottom: 10%;
}

.service{
    width: 100%;
    height: 350px;
    display: flex;
}

.black_bg{
    background-color: #1c2a33;
    width: calc(100% / 4);
    height: 100%;
    border-top: 5px solid #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green_bg{
    background-color: #18cfab;
    width: calc(100% / 4);
    height: 100%;
    border-top: 5px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black_bg>p{
    color: #18cfab;
}

.green_bg>p{
    color: #fff;
}

.header_h2{
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 70px;
    text-transform: capitalize;
    color: #4e4e4e;
    font-weight: 400;
    position: relative;
}

.header_h2:after{
    content: "";
    left: calc((100% - 77px) / 2);
    top: 60px;
    display: block;
    position: absolute;
    width: 75px;
    border: 1px solid #18cfab;
    box-shadow: 9px 7px 0 0 #18cfab;
}

.service_menu{
    display: flex;
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
}

.service_menu_list{
    width: 193px;
    height: 73px;
    background-color: #f8fcfe;
    border: 1px solid #ebecec;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #4e4e4e;
    text-transform: capitalize;
}

.active{
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: white;
}

.active::after{
    content: "";
    position: absolute;
    top: 74px;
    width: 1px;
    height: 1px;
    border-top: 10px solid #18cfab;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
}

.service_description_div{
    display: none;
}

.service_description{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.desc_active{
    display: block;
}

.service_description_text{
    text-align: justify;
    margin-left: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/***********************End of Our Service Section***************/

/*************************Everything Section*********************/

.everything{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sections_background/section-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.everything_p{
   margin-top: 35px;
}

.green_h2{
    font-size: 41px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.btn_green_two{
    margin-top: 5%;
}

/********************End of Everything Section***************/

/*******************Our Amazing Work Section*****************/

.amazing_work{
    background: #f8fcfe;
}

.work_menu{
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
}

.work_menu_list{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ebecec;
    color: #4e4e4e;
    text-transform: capitalize;
    padding: 25px;
}

.active_work{
    border-top: 2px solid #18cfab;
}

.active_work>a{
    color: #18cfab;
}

.image_div{
    padding: 5% 0;
}

.row {
    display: flex;
    flex-flow: wrap;
    width: 1160px;
    margin: 0 auto;
}

.image{
    display: flex;
    cursor: pointer;
    position: relative;
}

.image:nth-child(4n){
    margin-right: 0;
}

.description{
    width: 285px;
    height: 207px;
    border-top: 2px solid #18cfab;
    text-align: center;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
}

.image:hover .description{
    opacity: 1;
}

.description_icons>i{
    color: #18cfab;
    border: 1px solid #18cfab;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description_icons>i:hover{
    background: #18cfab;
    color: white;
}

.description_header{
    font-size: 23px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 25px;
    margin-bottom: 15px;
}

.description_tab{
    color: #4e4e4e;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.btn_div{
    padding-bottom: 5%;
}

.load_more{
    width: 165px;
    height: 60px;
    background: #18cfab;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #18cfab;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.plus{
    font-size: 24px;
}

/************End of Our Amazing Work Section*************/

/******************Breaking News Section*****************/

.news_image{
    cursor: pointer;
    margin-right: 36px;
    margin-bottom: 40px;
    position: relative;
}

.news_image:nth-child(4n){
     margin-right: 0;
 }

.news_description{
    background: #f8fcfe;
    border: 1px solid #eeefef;
    padding-left: 10px;
    position: relative;
    bottom: 4px;
}

.date{
    width: 68px;
    height: 66px;
    background: #203e38;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    right: 0;
    top: 0;
}

.row_news {
    display: flex;
    flex-flow: wrap;
    width: 1160px;
    margin: 0 auto;
}

.paragraph{
    margin-block-start: 0;
    margin-block-end: 0;
}

.news_header{
    color: #7a7a7a;
    text-transform: capitalize;
}

.news_info{
    color: #777;
}

.admin::after{
    content: "";
    border: none;
    margin: 0 10px;
    border-right: 1px solid #777;
}

.news_image:hover .date{
    background: #18cfab;
}

.news_image:hover .news_header{
    color: #18cfab;
}

/****************End of Breaking News Section*********/

/*********************About HAM Section**************/

.about_ham{
    background-image: url("../img/sections_background/section-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    /*height: 1144px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

.h2_white{
    color: white;
    text-transform: none;
}

.quote-icon{
    font-size: 44px;
    color: #18cfab;
}

.slick-bigger {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}

.slick-bigger .slide_image_div{
    border-radius: 100%;
    width: 153px;
    border:10px solid rgba(10, 80, 65, .5) ;
    margin-left: calc((100% - 149px) / 2);
}

.slick-bigger img{
    width: 149px;
    border-radius: 100%;
    border: 2px solid #18cfab;
}

.slick-smaller{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
}

.slick-smaller img{
    width: 62px;
    height: 62px;
    border:5px solid rgba(10, 80, 65, .5) ;
    margin-right: 30px;
    border-radius: 70px;
}

.slick-slider{
    margin-top: 40px;
    margin-bottom: 40px;
}

.slick-list{
    text-align: center;
}

.about_ham_text{
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
}

.about_ham_name{
    color: #18cfab;
    font-weight: 700;
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 43px;
}

.about_ham_prof{
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 27px;
}

.slick-current+img{
    position: relative;
    bottom: 5px;
    box-shadow: 1px 1px 0 5px rgba(10, 80, 65, .5);
    border: 2px solid #18cfab;
}

.slick-smaller .slick-track{
    height: 100px;
    padding: 20px
}

.slick-prev{
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
    left: -35px;
    top: 55px;
    border: 1px solid white;
}

.slick-prev:hover{
    border: 1px solid #18cfab;
    background: #18cfab;
}

.slick-prev:before {
    content: '\2039';
    font-weight: 700;
    font-size: 25px;
    position: relative;
    bottom: 6px;
}

.slick-next{
    width: 30px;
    height: 30px;
    background: transparent;
    color: white;
    right: -35px;
    top: 55px;
    border: 1px solid white;
}

.slick-next:hover{
    border: 1px solid #18cfab;
    background: #18cfab;
}

.slick-next:before {
    content: '\203A';
    font-weight: 700;
    font-size: 25px;
    position: relative;
    bottom: 6px;
}

/*************End of About HAM Section****************/

.footer_div{
    background: #22353f;
    padding: 20px;
    text-align: center;
}

.footer_text{
    font-size: 14px;
    color: white;
    text-transform: capitalize;
}

.footer_ham{
    color: #18cfab;
    text-transform: none;
}

.footer_ham::after{
    content: "";
    border: none;
    margin: 0 5px;
    height: 14px;
    border-right: 1px solid #fff;
}


















